body {
  display: grid;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

select {
  padding: 10px 5px;
  border: 1px solid;
  border-radius: 3px;
}

select:focus {
  outline: none;
} 
