:root {
  color-scheme: dark;
}

body {
  max-width: 1000px;
  margin: 0 auto;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  gap: 2em;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

#input-container {
  display: flex;
  gap: .5em;
}
.squareInput {
  width: 40px;
}
