body {
  margin: 0 auto;
  max-width: 800px;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#grandfather {
  background-color: lightblue;
}

#father1 {
  background-color: lightgreen;
}

#child1 {
  background-color: lightyellow;
}

#child2 {
  background-color: lightgray;
}

#grandchild1 {
  background-color: lightpink;
}

#grandchild2 {
  background-color: lightcoral;
}

#father2 {
  background-color: lightsalmon;
}

#child3 {
  background-color: lightseagreen;
}